[Unit]
Description=Battery notification
After=multi-user.target powertop.service tlp.service startup.service
Before=shutdown.target

[Service]
Type=simple
ExecStart=/home/sabit/.exe/scripts/batt-notif

[Install]
WantedBy=multi-user.target
